@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Inter:wght@200&family=Montserrat:ital,wght@0,300;1,100&display=swap');

/* -------------Landing Page Animation------------ */
header {min-height: 60px;}
footer {min-height: 90px;}

.slider {
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.slider-1 {
  animation-name: slider-1;
}
.slider-2 {
	animation-name: slider-2;
}
.slider-3 {
	animation-name: slider-3;
}
.slider-4 {
	animation-name: slider-4;
}
.slider-image {
	width: 110%;
  animation: zoom-out 10s linear infinite;
}
.slider-text {
    backdrop-filter: blur(20px);
	border-radius: 10px;
  top: 30%;
  left: 5%;
  width: 600px;
  animation: text-up 5s ease-out infinite;
	transform: translateY(200px);
    text-align: left;

}

.slider-title {
	font-size: 2rem;
  margin-bottom: 16px;
}
.slider-content {
    font-size: 20px !important; /* Próbáld meg ezt a !important kulcsszóval, ha más stílusok felülírják */
    line-height: 25px;
    font-style: italic;
    text-align: left;
  }

.btn-lg {
    font-size: 14px; /* Változtathatod a méretet az igényeid szerint */
    padding: 10px 15px; /* Változtathatod a padding értékét is */
  }
  
/* Az alábbi animációs kulcsszavak definiálják az animációkat a szöveg és a hátterek mozgatásához. */
@keyframes text-up {
	 10% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}
@keyframes zoom-out {
	100% {width: 100%;}
}
@keyframes slider-1 {
		0% {visibility: visible;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: hidden;}
	100% {visibility: visible;}
}
@keyframes slider-2 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: visible;}
	 75% {visibility: hidden;}
	100% {visibility: hidden;}
}
@keyframes slider-3 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: visible;}
	100% {visibility: hidden;}
}
@keyframes slider-4 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: hidden;}
	100% {}
}
/* ------------- Landing Page Animation Ends here ------------ */

/*--------- navbar----------*/


.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
  transition: color 0.2s;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: blue;
  transition: width 0.3s; 
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%; 
}

.nav-link.active {
  color: blue;
  background-color: none; 
  border-color: none;
}


/* ------------- Video Settings start here ------------ */


/* Video rész */
.home {
  /* A "home" rész stílusa */
  height: 100vh;
  position: relative;
}
.showcase-img {
  background-size: cover;
  background-position: center;
  height: 350px; /* Változtasd meg a megfelelő magasságra */
}
.showcase-text {
  text-align: center;
}

/* Video - About us oldalon*/
.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}
/* Video 2 - Products oldalon */
.video-containerTwo {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top:70%; 
}

.blurred-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
}
/* Video 3 - Services oldalon */
.Topvideo {
  position: relative;
  height: 60vh; /* Adjust this value to change the overall height of the video */
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

.Topvideo video {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto; /* Set to auto to maintain the video's aspect ratio */
  object-fit: cover;
  z-index: 0;
  filter: blur(4px);

}

.Topvideo .container {
  position: relative;
  z-index: 1;
}

.Topvideo .overlay {
  display: none; /* Hide the overlay completely */
}

/* Video 4 - Contact oldalon */ 
.blurred-videoTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
}


/* ------------- Video Settings ends here ------------ */



/* Általános stílusok */
body {
    padding: 0%;
    font-family: 'Montserrat', sans-serif;

}
/* -------------- About us page ------------------- */

/* Stagger animáció görgetésre */
section {
    /* A szakaszok elrendezése és középre igazítása */
    place-items: center;
    align-content: center;
    min-height: 40vh;

}

.hidden {
    /* Rejtett elem stílusa (görgetési animációhoz) */
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

@media (prefers-reduced-motion) {

    /* Csökkentett mozgás preferenciája esetén */
    .hidden {
        transition: none;
    }
}

.show {
    /* Megjelenő elem stílusa (görgetési animációhoz) */
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes gradient {

    /* Háttérszín gradient animáció görgetéskor */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* A "home" tartalom rész stílusa */
.home-content {
    position: relative;
    padding-top: 400px;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: clamp(45px, 7vw, 130px);
    line-height: 1.1;
}

.home p {
    font-size: clamp(25px, 4vw, 40px);
    margin-top: 10px;
}

.abut {
    text-align: center;
}

/* ------- btn to scroll up -------*/
.arrow-up {
    font-size: 20px; /* Adjust the arrow size */
    position: fixed; 
    right: 20px; 
    cursor: pointer;
 }
 
/* ------------- Cart Settings start here ------------ */

.cart-container {
    background: #f8f9fa;
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    @media (max-width: 768px) {
        min-height: 350px; 
    }
}

.cart-container h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 15px;
}

.cart-container table {
    width: 100%;
}

.cart-container td, .cart-container th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-container tbody tr:hover {
    background: #f2f2f2;
}

.cart-container button {
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-container button:hover {
    background: #c82333;
}

.cart-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* ------------- cart settings ends here ------------ */

/* ------------- login bg page ---------------- */
.page-container.login,
.page-container.password_frogot,
.page-container.profile {
  background: url('../media/image/bg_user/fak.jpg') no-repeat center center fixed;
  background-size: cover;
}

.page-container.register {
  background: url('media/image/bg_user/register.jpg') no-repeat center center fixed;
  background-size: cover;
}

.page-container.password_change {
  background: url('/media/image/bg_user/password_change.jpg') no-repeat center center fixed;
  background-size: cover;
}

.page-container.email_change,
.page-container.email_confirm {
  background: url('/media/image/bg_user/email_change.jpg') no-repeat center center fixed;
  background-size: cover;
}

