@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Inter:wght@200&family=Montserrat:ital,wght@0,300;1,100&display=swap');

/* -------------Landing Page Animation------------ */

.page-container.home header,
.slider-text {
}
.slider {
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.slider-1 {
  animation-name: slider-1;
}
.slider-2 {
	animation-name: slider-2;
}
.slider-3 {
	animation-name: slider-3;
}
.slider-4 {
	animation-name: slider-4;
}
.slider-image {
	width: 110%;
  animation: zoom-out 10s linear infinite;
}
.slider-text {
    backdrop-filter: blur(20px);
	border-radius: 10px;
  top: 30%;
  left: 5%;
  width: 600px;
  animation: text-up 5s ease-out infinite;
	transform: translateY(200px);
    text-align: left;

}
.slider-title {
	font-size: 2rem;
  margin-bottom: 16px;
}
.slider-content {
    font-size: 20px !important; /* Próbáld meg ezt a !important kulcsszóval, ha más stílusok felülírják */
    line-height: 25px;
    font-style: italic;
    text-align: left;
  }

.btn-lg {
    font-size: 14px; /* Változtathatod a méretet az igényeid szerint */
    padding: 10px 15px; /* Változtathatod a padding értékét is */
  }
  
/* Az alábbi animációs kulcsszavak definiálják az animációkat a szöveg és a hátterek mozgatásához. */
@keyframes text-up {
	 10% {transform: translateY(0px);}
	100% {transform: translateY(0px);}
}
@keyframes zoom-out {
	100% {width: 100%;}
}
@keyframes slider-1 {
		0% {visibility: visible;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: hidden;}
	100% {visibility: visible;}
}
@keyframes slider-2 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: visible;}
	 75% {visibility: hidden;}
	100% {visibility: hidden;}
}
@keyframes slider-3 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: visible;}
	100% {visibility: hidden;}
}
@keyframes slider-4 {
		0% {visibility: hidden;}
	 25% {visibility: hidden;}
	 50% {visibility: hidden;}
	 75% {visibility: hidden;}
	100% {}
}

/* Általános stílusok */
body {
    /* Az egész oldal alap stílusa */
    padding: 0%;
    font-family: 'Montserrat', sans-serif;

}
/* -------------- About us page ------------------- */

/* Stagger animáció görgetésre */
section {
    /* A szakaszok elrendezése és középre igazítása */
    place-items: center;
    align-content: center;
    min-height: 40vh;
}

.hidden {
    /* Rejtett elem stílusa (görgetési animációhoz) */
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

@media (prefers-reduced-motion) {

    /* Csökkentett mozgás preferenciája esetén */
    .hidden {
        transition: none;
    }
}

.show {
    /* Megjelenő elem stílusa (görgetési animációhoz) */
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes gradient {

    /* Háttérszín gradient animáció görgetéskor */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Video rész az "about us" oldalon */
.home {
    /* A "home" rész stílusa */
    height: 100vh;
    position: relative;
}

.video-container {
    /* A videó konténer stílusa */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* A videó stílusa */
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
    /* Itt állíthatod be a kívánt blur értéket (px-ben) */
}

/* A "home" tartalom rész stílusa */
.home-content {
    position: relative;
    padding-top: 400px;
    color: #fff;
    text-align: center;
}

h1 {
    /* Címsor stílusa */
    font-size: clamp(45px, 7vw, 130px);
    line-height: 1.1;
}

.home p {
    /* Bekezdés stílusa */
    font-size: clamp(25px, 4vw, 40px);
    margin-top: 10px;
}

.abut {
    /* Aloldal stílusa */
    text-align: center;
}

/* Menü rész */
.menu .nav-tabs {
    /* Menü felső részének stílusa */
    border: 0;
}

.menu .nav-link {
    /* Menü link stílusa */
    margin: 0 10px;
    padding: 10px 5px;
    transition: 0.3s;
    color: var(--color-secondary);
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #b6b6bf;
}

@media (max-width: 575px) {

    /* Kisebb képernyőméretek esetén */
    .menu .nav-link {
        margin: 0 10px;
        padding: 10px 0;
    }
}

.menu .nav-link i {
    /* Menü link ikon stílusa */
    padding-right: 15px;
    font-size: 48px;
}

/* Menü link címsor stílusa */
.menu .nav-link h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    /* Például az Inter font itt érvényesül */
}

@media (max-width: 575px) {

    /* Kisebb képernyőméretek esetén */
    .menu .nav-link h4 {
        font-size: 16px;
    }
}

.menu .nav-link:hover {
    /* Menü link hover állapot stílusa */
    color: var(--color-primary);
}

.menu .nav-link.active {
    /* Aktív menü link stílusa */
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.menu .tab-content .tab-header {
    /* Menü tartalom rész címsorának stílusa */
    padding: 30px 0;
}

.menu .tab-content .tab-header p {
    /* Menü tartalom rész leírásának stílusa */
    font-size: 14px;
    text-transform: uppercase;
    color: #676775;
    margin-bottom: 0;
}

.menu .tab-content .tab-header h3 {
    /* Menü tartalom rész címének stílusa */
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
}

.menu .tab-content .menu-item {
    /* Menü elemek stílusa */
    -moz-text-align-last: center;
    text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
    /* Menü elemek képeinek stílusa */
    padding: 0 60px;
    margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
    /* Menü elemek címsora stílusa */
    font-size: 22px;
    font-weight: 500;
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    font-weight: 30px;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .ingredients {
    /* Menü elemek összetevőinek stílusa */
    font-family: var(--font-secondary);
    color: #8d8d9b;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
    /* Menü elemek árának stílusa */
    font-size: 24px;
    font-weight: 700;
    color: var(--color-primary);
}

/* -------- products page ---------*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Add space between cards */

}

.card {
    width: 18rem;
    margin-bottom: 10rem;
    /* Add some margin between cards */
}

.card-body {
    flex-grow: 1;
    overflow: hidden;
    /* Prevent text overflow */
}

.card-img {
    width: 100%;
    height: 200px;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
    background-size: cover;
}

/* -------- ProductCarousel ---------*/
#ProductCarousel {
    background: rgba(255, 255, 255, 0.5);
    /* Átlátszó fehér háttér példa */
    margin: auto;
    /* Középre igazítás */
}

#ProductCarousel .carousel-inner img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

/* ------- btn to scroll up -------*/
.arrow-up {
    font-size: 20px; /* Adjust the arrow size */
    position: fixed; 
    right: 20px; 
    cursor: pointer;
 }
 
/* Az "ecogourmet-cards" osztály alá tartozó kártyák stílusa - shop cards. */

.ecogourmet-cards .card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    display: flex; /* Adjuk hozzá flexboxot a card-hoz */
    flex-direction: column; /* Oszlopokba rendezzük az elemeit */
    justify-content: space-between; /* Az elemeket oszlopok közt helyezi el, mindig az alsó részen hagyja a tartalmat */
    margin-bottom: 10px; /* Adj hozzá egy margin-bottom értéket */

  
    @media (max-width: 768px) {
      min-height: 350px;
    }
  
    @media (max-width: 420px) {
      min-height: 300px;
    }
  
    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  
      .card-body {
        margin-top: 80px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      }
  
      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(255, 186, 33);
        background: linear-gradient(0deg, rgba(255, 186, 33, 0.5) 0%, rgba(255, 186, 33, 1) 100%);
      }
    }
  
    .card-footer .btn {
        border: 2px solid #fff;
        color: #000000;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            min-height: 450px;
        }
      
        &:hover {
          background-color: #fff;
          color: #000;
          transform: scale(1.4);
        }
      }
      
    .card-body {
        min-height: 150px; /* Új rész: Minimális magasság beállítása */
        margin-top: 30px; /* texthez */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      
      .card-title {
        font-weight: 800;
        margin-bottom: 10px;
      }
      
      .card-meta {
        color: rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
      }
      
      .card-footer .btn {
        border: 2px solid #fff;
        color: #000000;
        display: flex;
        flex-direction: column;
      
        &:hover {
          background-color: #fff;
          color: #000;
          transform: scale(1.4);
        }
      }
      
    /* Általános stílusok */
    .lead {
      color: #aaa;
    }
  
    .wrapper {
      margin: 10vh;
    }
    .card-text-ar {
        position: absolute; /* Adjuk meg az abszolút pozíciót a .card-text-hez */
        bottom: 50; /* Pozícionáljuk az elemet a szülő alsó részén */
      }
  }
  
/* Kosár stílusok */
.cart-container {
    background: #f8f9fa;
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
}

.cart-container h3 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 15px;
}

.cart-container table {
    width: 100%;
}

.cart-container td, .cart-container th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.cart-container tbody tr:hover {
    background: #f2f2f2;
}

.cart-container button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-container button:hover {
    background: #c82333;
}

.cart-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
