<div class="page-container d-conditional vh-100">
  <!-- Navigate -->
  <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
  <!-- Video Container -->
  <div class="video-container">
    <video autoplay muted loop class="blurred-video">
      <source src="./media/video/robin.mp4" type="video/mp4">
    </video>
  </div>
  <!-- Home title -->
  <div class="home">
    <div class="backdrop-filter-element"></div>
    <div class="home-content">
      <h1 id="abut">EcoGourmet</h1>
      <i class="fa-solid fa-chevron-down fa-bounce" style="font-size: larger;"></i>
    </div>
  </div>
  <!-- Content after video -->
  <div class="inner-header flex"></div>
  <!-- Section: about us text part angular version -->
  <section class="hidden" id="scroll">
    <div class="container" ng-repeat="aboutUsText in aboutUsTexts">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6" ng-class="{ 'order-lg-2': $first || $index === 2 }">
          <div class="p-5">
            <img class="img-fluid rounded-circle" ng-src="{{ aboutUsText.image }}" alt="..." />
          </div>
        </div>
        <div class="col-lg-6" ng-class="{ 'order-lg-1': $first && $index !== 2 }">
          <div class="p-5">
            <h2 class="display-4">{{ 'about_title_' + ($index + 1) | translate:lang.data }}</h2>
            <p>{{ 'about_text_' + ($index + 1) | translate:lang.data }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Pricing cards -->
  <section class="bg-light py-5 hidden">
    <div class="container my-5">
      <div class="text-center mb-5">
        <h2 class="fw-bolder">{{ 'abut_pricing_title' | translate:lang.data }}</h2>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-4 mb-5" ng-repeat="plan in subscription_plans">
          <div class=" h-100">
            <div class="p-5">
              <div class="small text-uppercase fw-bold text-muted"></div>
              <ul class="list-unstyled mb-4">
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  <strong>{{plan.nev}}</strong>
                </li>
                <li class="mb-2">
                  <i class="bi bi-check text-primary"></i>
                  {{ 'plan_desc_' + ($index + 1) | translate:lang.data }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a ui-sref="products" class="btn btn-outline-black">
          {{ 'DISCOVER_MORE' | translate:lang.data }}
        </a>
        <h3 class="small col-lg-7">
          {{('plans') | translate:lang.data}}
        </h3>
      </div>
    </div>
  </section>

  <!-- Tabs content -->
  <!-- Testimonials angularositot-->
  <section class="testimonials text-center bg-light hidden py-5">
    <div class="container-fluid">
      <h2 class="mb-5 fw-bolder">{{ 'testimonial_title'| translate:lang.data }}</h2>
      <div class="row">
        <div class="col-lg-4" ng-repeat="testimonial in testimonials.slice(0, 3)">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="max-inline-size: 50ch;">
            <div class="circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
              <img class="img-fluid circle mb-3" style="border-radius: 50%;" ng-src="{{ testimonial.kep_url }}" alt="..." />
            </div>
            <h5 class="mt-6 text-center py-3">{{ testimonial.name }}</h5>
            <p class="font-weight-light mt-6">{{ 'testimonial_desc_'  + ($index + 1) | translate:lang.data }}</p>
          </div>
        </div>
      </div>
      <!-- scroll to top button -->
      <div class="scroll-to-top text-right bg-light" ng-click="smoothScrollToTop()">
        <span class="arrow-up small">
          <i class="fas fa-thin fa-arrow-up fa-bounce"></i>
        </span>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer ng-include src="'./html/footer.html'"></footer>
</div>
</div>