<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  
  <!-- Container -->
  <div class="container-fluid">

    <!--  Home (landing) -->
    <a class="navbar-brand" ui-sref="home">Ecogrourmet</a>

    <!-- Hamburger icon -->
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" 
            aria-controls="navbarNav" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar container -->
    <div class="collapse navbar-collapse mt-2 mt-md-0">

      <!-- Left align -->
      <div class="navbar-left me-auto">
      
      </div>

      <!-- Center align -->
      <div class="navbar-center mx-auto">
          <!-- Navigate -->
          <ul class="navbar-nav">

            <!-- About Us -->
            <li class="nav-item">
              <a class="nav-link" 
                 ui-sref="about">
                <i class="fa-solid fa-cutlery fa-lg me-1"></i>
                <span class="text-capitalize text-small-caps">
                  {{'about' | translate:lang.data}}
                </span>
              </a>
            </li>

            <!-- Products / Store -->
            <li class="nav-item">
              <a class="nav-link" 
                 ui-sref="products">
                <i class="fa-solid fa-shopping-bag fa-lg me-1"></i>
                <span class="text-capitalize text-small-caps">
                  {{'products' | translate:lang.data}}
                </span>
              </a>
            </li>

            <!-- Services -->
            <li class="nav-item">
              <a class="nav-link" 
                 ui-sref="services">
                 <i class="fa-solid fa-utensils fa-lg me-1"></i>
                 <span class="text-capitalize text-small-caps">
                  {{'services' | translate:lang.data}}
                </span>
              </a>
            </li>

          </ul>
      </div>

      <!-- Right align -->
      <div class="navbar-right ms-auto">

        <!-- Navigate -->
        <ul class="navbar-nav">

          <!-- Login -->
          <li class="nav-item" 
              ng-if="!user.id && (state.id !== 'user' || userEvent !== 'login')">
            <a class="nav-link" ui-sref="user({event: 'login'})"
               ng-class="{'active': state.id === 'user' && userEvent === 'login'}">
              <i class="fa-solid fa-right-to-bracket fa-lg me-1"></i>
              <span class="text-capitalize text-small-caps">
                {{'login' | translate:lang.data}}
              </span>
            </a>
          </li>

          <!-- Register -->
          <li class="nav-item" 
              ng-if="!user.id && state.id === 'user' && userEvent === 'login'">
            <a class="nav-link" ui-sref="user({event: 'register'})"
               ng-class="{'active': state.id === 'user' && userEvent === 'register'}">
              <i class="fa-solid fa-right-to-bracket fa-lg me-1"></i>
              <span class="text-capitalize text-small-caps">
                {{'register' | translate:lang.data}}
              </span>
            </a>
          </li>
<!--  -->
          <!-- Account -->
          <li class="nav-item dropdown" 
              ng-if="user.id">
            <a id="userDropdown"
               href="#" 
               class="nav-link dropdown-toggle"
               ng-class="{'disabled': state.id === 'user' && userEvent === 'profile' && helper.isEdit}"
               ng-attr-aria-disabled="{{state.id === 'user' && userEvent === 'profile' && helper.isEdit}}"
               role="button" 
               data-bs-toggle="dropdown" 
               aria-expanded="false">

              <!-- Image -->
              <div class="bg-img bg-img-cover overflow-hidden rounded-circle d-inline-block float-start me-2" 
                   style="width:32px;height:32px;"
                   ng-style="{'background-image':user.img_type?'url(data:'+user.img_type+';base64,'+user.img+')':'url('+app.commonPath+'media/image/blank/'+(user.gender==='F'?'fe':'')+'male-blank.webp)'}"
                   ng-show="user.img || user.gender">
              </div>

              <!-- Account title -->
              <div class="text-capitalize text-small-caps d-inline-block float-start">
                {{'account' | translate:lang.data}}
              </div>
            </a>

            <!-- Dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" 
                aria-labelledby="userDropdown">

              <!-- User name/Nick name -->
              <li>
                <a class="dropdown-item disabled" href="#">
                  <span class="text-capitalize text-small-caps" 
                        ng-if="user.nick_name">
                    {{user.nick_name}}
                  </span>
                  <span class="text-capitalize text-small-caps" 
                        ng-repeat="k in lang.rule[lang.type]"
                        ng-if="!user.nick_name">
                    {{user[k]}}
                  </span>
                </a>
              </li>
              
              <!-- Profile -->
              <li>
                <a class="dropdown-item"
                   ng-class="{'disabled': state.id === 'user' && userEvent === 'profile'}"
                   ui-sref="user({event: 'profile'})">
                  <i class="fa-solid fa-user fa-lg"></i>
                  <span class="text-capitalize text-small-caps">
                    {{'profile' | translate:lang.data}}
                  </span>
                </a>
              </li>

              <!-- Divider -->
              <li><hr class="dropdown-divider"></li>

              <!-- Logout -->
              <li>
                <a class="dropdown-item" 
                   href="javascript:void(0)" 
                   ng-click="logout()">
                  <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                  <span class="text-capitalize text-small-caps">
                    {{'logout' | translate:lang.data}}
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <!-- Language -->
          <li class="nav-item dropdown" 
              ng-if="lang.available && lang.available.length > 1">
              <a id="langDropdown" 
                 href="#" 
                 class="nav-link dropdown-toggle"  
                 role="button" 
                 data-bs-toggle="dropdown" 
                 aria-expanded="false">
                <img ng-src="{{app.commonPath+'media/image/countries/'+lang.available[lang.index].img}}" 
                     class="me-1" 
                     height="22" 
                     alt="flag">
                <span class="text-capitalize text-small-caps">
                  {{lang.available[lang.index].local}}
                </span>
              </a>

              <!-- Dropdown menu -->
              <ul class="dropdown-menu dropdown-menu-end" 
                  aria-labelledby="langDropdown">

                <!-- Language items -->
                <li data-lang-id="{{x.id}}"
                    class="dropdown-item cursor-pointer"
                    ng-click="changeLanguage($event)"
                    ng-repeat="x in lang.available" 
                    ng-if="x.valid && $index != lang.index">
                  <img ng-src="{{app.commonPath+'media/image/countries/'+x.img}}" 
                       class="me-1" 
                       height="22" 
                       alt="flag">
                  <span class="text-capitalize">
                    {{x.name}}
                  </span>
                  <span ng-if="x.name != x.local">
                    ({{x.local}})
                  </span>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>