<!-- Page container -->
<div class="page-container d-conditional vh-100">

    <!-- Navigate -->
    <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
    <body ng-app>
        <div ng-repeat="x in [].constructor(3) track by $index">
            <div class="parallax vh-100" 
                     ng-style="{'background-image':'url(./img/wallpaper_'+$index+'.jpg)'}">
                <div class="parallax-inner">
                    <h1>Lorem ipsum.</h1>
                </div>
            </div>
            <div class="container pt-5 pb-5" ng-if="$index!=9">
                <h1 class="text-center mb-4">Lorem ipsum.</h1>
                <div class="row" ng-repeat="x in [].constructor(4) track by $index">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro non exercitationem vero, quod quidem aut similique, autem, suscipit soluta voluptate voluptatem vitae mollitia molestias vel tempore minima ipsam molestiae?</p>
                </div>
            </div>
        </div>
    </body>
</div>