<!-- Navigate -->
<header class="sticky-top" ng-include src="'./html/navigate.html'"></header>
<!-- Controller -->
<div ng-app="page2">
  <div ng-controller="productsController">
    <!-- Container -->
    <div class="container-fluid pt-5">
      <!-- Row -->
      <div class="row">
        <!-- Header-->
        <header class="bg-dark py-5">
          <div class="container-fluid px-4 px-lg-5 my-5">
            <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Shop in style</h1>
              <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
          </div>
        </header>
        <!-- Section-->
        <section class="py-5">
          <!-- ng-repeat direktíva a termékek bejárásához -->
          <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5">
              <!-- Kategória szűrő gombok -->
              <div class="mb-3">
                <button class="btn btn-primary" ng-click="setCategoryFilter('Fehérje Por')">Fehérjék</button>
                <button class="btn btn-primary" ng-click="setCategoryFilter('Smoothie Por')">Smoothiek</button>
                <button class="btn btn-primary" ng-click="setCategoryFilter('Protein')">Protein Szelet</button>
                <!-- További kategóriákhoz gombok hozzáadhatók -->
                <!-- Szűrés törlése -->
                <button class="btn btn-warning" ng-click="clearFilters()">Szűrés törlése</button>
              </div>
              <hr>
<!-- Termék kártyák -->
<div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-5" ng-repeat="product in filteredProducts = (products | filter: { kategoria: categoryFilter })">
  <div class="card h-100">
    <!-- Termék képe -->
    <img class="card-img-top" ng-src="{{product.kep_eleresi_ut}}" alt="Termék képe" />
    <!-- Termék részletei -->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Termék neve -->
        <h5 class="fw-bolder">{{product.nev}}</h5>
        <!-- Termék kategóriája -->
        {{product.kategoria}}
        <!-- Termék ára -->
        {{product.ar_forint}}
      </div>
    </div>
    <!-- Termék akciók -->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="#">Vásárlás</a>
      </div>
    </div>
  </div>
</div>
<!-- Termék kártyák vége -->

            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Footer -->
    <footer ng-include src="'./html/footer.html'"></footer>
  </div>
</div>