<!-- Page container -->
<div class="page-container d-conditional vh-100">

	<!-- Navigate -->
  <header class="sticky-top" ng-include src="'./html/navigate.html'"></header>

	<!-- Main -->
  <main>

		<!-- Container -->
		<div class="container py-5">

			<!-- Row -->
			<div class="row justify-content-center">

				<!-- Title -->
				<h4 class="text-center mb-4 text-capitalize text-small-caps">
					<i class="fas"
						 ng-class="{'fa-users': userEvent==='register', 
				  							'fa-user': userEvent==='login' || userEvent==='profile'}">
					</i>
					<span class="ms-2">
						{{userEvent | translate:lang.data}}
					</span>
				</h4>

				<!-- Buttons -->
				<div class="row mt-3 mb-4 justify-content-center" 
						 ng-if="userEvent==='profile'">

					<!-- Profile -->
					<div class="px-1 mx-1 d-inline-block w-auto mb-2">
			 			<button id="profile"
							 			type="button" 
							 			class="btn btn-outline-primary text-capitalize text-small-caps btnClickEffect d-inline-block"
										style="min-width:160px"
							 			ng-click="methods.profile()"
										ng-disabled="!helper.profileType">
				 			<i class="fas fa-user"></i>
				 			<span class="ms-1"
							 			ng-class="{'text-decoration-underline': !helper.profileType}">
					 			{{'profile' | translate:lang.data}}
				 			</span>
			 			</button>
		 			</div>
					 <div class="px-1 mx-1 d-inline-block w-auto mb-2">
						<button id="subscribe"
								type="button" 
								class="btn btn-outline-primary text-capitalize text-small-caps btnClickEffect d-inline-block"
								style="min-width:160px"
								ng-click="methods.subscribe()"
								ng-disabled="!helper.isSubscribed">
							<i class="fas fa-user-plus"></i>
							<span class="ms-1"
								  ng-class="{'text-decoration-underline': !helper.isSubscribed}">
								{{'subscribe' | translate:lang.data}}
							</span>
						</button>
					</div>
					
					<!-- Change password -->
					<div class="px-1 mx-1 d-inline-block w-auto mb-2">
						<button id="change_password"
										type="button" 
										class="btn btn-outline-primary text-capitalize text-small-caps btnClickEffect d-inline-block"
										style="min-width:160px"
										ng-click="methods.changePassword()"
										ng-disabled="helper.profileType === 'change-password' || 
																(!helper.profileType && helper.isEdit)">
							<i class="fa-solid fa-key"></i>
							<span class="ms-1"
										ng-class="{'text-decoration-underline': helper.profileType==='change-password'}">
								{{'change_password' | translate:lang.data}}
							</span>
						</button>
					</div>

					<!-- Change email -->
					<div class="px-1 mx-1 d-inline-block w-auto mb-2">
						<button id="change_email"
										type="button" 
										class="btn btn-outline-primary text-capitalize text-small-caps btnClickEffect d-inline-block"
										style="min-width:160px"
										ng-click="methods.changeEmail()"
										ng-disabled="helper.profileType === 'change-email' || 
																(!helper.profileType && helper.isEdit)">
							<i class="fa-solid fa-envelope"></i>
							<span class="ms-1"
										ng-class="{'text-decoration-underline': helper.profileType==='change-email'}">
								{{'change_email' | translate:lang.data}}
							</span>
						</button>
					</div>
				</div>

				<!-- Form -->
				<form class="mt-2 col-11 col-md-11 col-lg-8 col-xl-7 col-xxl-6"
							ng-switch="userEvent">

					<!-- Identifier -->
					<div class="row input-row mb-2" 
							 ng-switch-when="profile"
							 ng-if="!helper.profileType">
						<label for="identifier" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<i class="fa-solid fa-id-badge"></i>
							<span class="ms-1 text-capitalize">
								{{'identifier' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="identifier" 
										 type="text"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.id"
										 disabled="disabled">
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Type -->
					<div class="row input-row mb-2" 
							 ng-switch-when="profile"
							 ng-if="!helper.profileType">
						<label for="type" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<i class="fa-solid fa-user-gear"></i>
							<span class="ms-1 text-capitalize">
								{{'type' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="type" 
										 type="text"
										 class="form-control form-control-sm d-inline-block"
										 spellcheck="false" 
										 autocomplete="off"
										 style="max-width:30px;"
										 ng-model="model.type"
										 disabled="disabled"
										 maxlength="1">
							<span class="ms-1 d-inline-block">
								{{model.typeName | translate:lang.data | capitalize}}
							</span>
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-switch-when="profile"
							ng-if="!helper.profileType">

					<!-- NAME -->
					<!-- Prefix name -->
					<div class="row input-row mb-2" 
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="prefix_name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<i class="fa-solid fa-user fa-xl"></i>
							<span class="ms-1">
								{{'prefix_name' | translate:lang.data | capitalize}}:
							</span>
						</label>
						
						<div class="col-11 col-sm-7 position-relative">
							<input id="prefix_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('prefix_name' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.prefix_name"
										 ng-focus="methods.setFocusedElement($event)"
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 maxlength="20"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- First name -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="first_name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<span class="ms-1">
								{{'first_name' | translate:lang.data | capitalize}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="first_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('first_name' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.first_name"
										 ng-focus="methods.setFocusedElement($event)"
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Middle name -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="middle_name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="ms-1">
								{{'middle_name' | translate:lang.data | capitalize}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="middle_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('middle_name' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.middle_name"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Last name -->
					<div class="row input-row mb-2" 
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="last_name" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<span class="ms-1">
								{{'last_name' | translate:lang.data | capitalize}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="last_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('last_name' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.last_name"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Suffix name -->
					<div class="row input-row mb-2" 
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="suffix_name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="ms-1">
								{{'suffix_name' | translate:lang.data | capitalize}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="suffix_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('suffix_name' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.suffix_name"
										 ng-focus="methods.setFocusedElement($event)"  
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"  
										 maxlength="20"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Nick name -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="nick_name" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="ms-1">
								{{'nickname' | translate:lang.data | capitalize}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="nick_name" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('nickname' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.nick_name"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-switch-when="register|profile" 
							ng-switch-when-separator="|"
							ng-if="!helper.profileType">

					<!-- Born -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="born" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-calendar-days"></i>
							<span class="ms-1 text-capitalize">
								{{'born' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="born" type="date"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 min="{{helper.minBorn}}"
										 max="{{helper.maxBorn}}"
										 ng-model="model.born"
										 ng-focus="methods.setFocusedElement($event)"  
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Gender -->
					<fieldset class="row input-row mb-2"
										ng-switch-when="register|profile" 
							 			ng-switch-when-separator="|"
										 ng-if="!helper.profileType">
						<legend class="col-form-label col-form-label-sm col-sm-4 pt-0 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-venus-mars"></i>
							<span class="ms-1 text-capitalize">
								{{'gender' | translate:lang.data}}:
							</span>
						</legend>
						<div class="col-11 col-sm-7 position-relative">
							<div class="form-check form-check-inline small">
								<input class="form-check-input opacity-100" 
											 type="radio"
											 name="gender" 
											 id="female" 
											 value="F"
										 	 autocomplete="off"
											 ng-model="model.gender"
											 ng-focus="methods.setFocusedElement($event)"
										 	 ng-change="methods.changed()"
											 ng-disabled="!helper.isEdit"
											 required>
								<label for="female"
											 class="form-check-label opacity-100">
									{{'female' | translate:lang.data}}
								</label>
							</div>
							<div class="form-check form-check-inline small">
								<input class="form-check-input opacity-100" 
											 type="radio" 
											 name="gender" 
											 id="male"
											 value="M"
											 autocomplete="off"
											 ng-model="model.gender"
											 ng-focus="methods.setFocusedElement($event)"
										 	 ng-change="methods.changed()"
											 ng-disabled="!helper.isEdit"
											 required>
								<label for="male"
											 class="form-check-label opacity-100">
									{{'male' | translate:lang.data}}
								</label>
							</div>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</fieldset>

				
					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-switch-when="register|profile" 
							ng-switch-when-separator="|"
							ng-if="!helper.profileType">

					<!-- Country -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="country" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-flag"></i>
							<span class="ms-1 text-capitalize">
								{{'country' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<select id="country"
											class="form-select form-select-sm text-capitalize pe-4"
											autocomplete="off"
											ng-model="model.country"
											ng-focus="methods.setFocusedElement($event)"
										 	ng-change="methods.changed()"
											ng-disabled="!helper.isEdit"
											ng-options="x.country for x in helper.countries"
											required
											ng-clear-icon='{"top":"2px","right":"-15px"}'>
								<option ng-if="userEvent==='register'" 
												value="" 
												disabled selected hidden>
								</option>
							</select>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- City -->
					<div class="row input-row mb-2" 
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="city" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-city"></i>
							<span class="ms-1 text-capitalize">
								{{'city' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="city" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('city' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.city"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="100"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Post code -->
					<div class="row input-row mb-2" 
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="postcode" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-list-ol"></i>
							<span class="ms-1 text-capitalize">
								{{'postcode' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="postcode" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('postcode' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 style="max-width:170px;"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.postcode"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="10"
										 ng-clear-icon='{"left":"165px"}'>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Address -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="!helper.profileType">
						<label for="address" 
									 class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-location-dot"></i>
							<span class="ms-1 text-capitalize">
								{{'address' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="address" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? ('address' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.address"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="200"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-switch-when="register|profile"
							ng-switch-when-separator="|"
							ng-if="helper.isEdit">

					<!-- Email current -->
					<div class="row input-row"
							 ng-switch-when="profile" 
							 ng-if="helper.profileType === 'change-email'">
						<label for="email_current" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<i class="fa-solid fa-envelope-circle-check"></i>
							<span class="ms-1 text-capitalize">
								{{'current' | translate:lang.data}}
							</span>
							<span>
								{{'email' | translate:lang.data}}
							</span>
							<span>
								{{'address' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="email_current" 
										 type="text"
										 class="form-control form-control-sm ps-1"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.email_current"
										 disabled="disabled">
						</div>
						<div class="col-1 pt-1"></div>
					</div>

					<!-- Email rule -->
					<div class="row"
							 ng-switch-when="profile"
							 ng-if="helper.profileType === 'change-email'">
						<div class="col-0 col-sm-4"></div>
						<div class="col-11 col-sm-7 ps-3">
							<span class="fs-sm text-danger">
								{{'email_rule' | translate:lang.data | capitalize}}!
							</span>
						</div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-switch-when="profile"
							ng-if="helper.profileType === 'change-email'">

					<!-- Email -->
					<div class="row input-row mb-2"
							 ng-switch-when="login|register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="userEvent !== 'profile' || helper.profileType === 'change-email'">
						<label for="email" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-envelope"></i>
							<span class="ms-1 text-capitalize"
										ng-if="helper.profileType === 'change-email'">
								{{'new' | translate:lang.data}}
							</span>
							<span ng-class="{'ms-1 text-capitalize': userEvent !== 'profile'}">
								{{'email' | translate:lang.data}}
							</span>
							<span>
								{{'address' | translate:lang.data}}:
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="email" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ? 
											(helper.profileType === 'change-email' ?
											(('new' | translate:lang.data) + ' ') : '') +
											('email' | translate:lang.data) + ' ' +
											('address' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.email"
										 ng-focus="methods.setFocusedElement($event)"
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Email confirm -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile"
							 ng-switch-when-separator="|"
							 ng-if="userEvent !== 'profile' || helper.profileType === 'change-email'">
						<label for="email_confirm" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-regular fa-envelope"></i>
							<span class="ms-1 text-capitalize"
										ng-if="helper.profileType === 'change-email'">
								{{'new' | translate:lang.data}}
							</span>
							<span ng-class="{'ms-1 text-capitalize': helper.profileType !== 'change-email'}">
								{{'email' | translate:lang.data}}
							</span>
							<span>
								{{'address' | translate:lang.data}}
							</span>
							<span>{{'confirmation' | translate:lang.data}}:</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="email_confirm" 
										 type="text"
										 ng-attr-placeholder="{{helper.isEdit ?
											(helper.profileType === 'change-email' ?
											(('new' | translate:lang.data) + ' ') : '') + 
											('email' | translate:lang.data) + ' ' + 
										 	('address' | translate:lang.data) + ' ' + 
										 	('confirmation' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.email_confirm"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit" 
										 required
										 maxlength="50"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Password current -->
					<div class="row input-row mb-2"
							 ng-switch-when="profile"
							 ng-if="helper.isEdit">
						<label for="password_current" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-lock"></i>
							<span class="ms-1 text-capitalize">
								{{'current' | translate:lang.data}}
							</span>
							<span>
								{{'password' | translate:lang.data}}
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="password_current" 
										 type="password"
										 ng-attr-placeholder="{{helper.isEdit ? 
											('current' | translate:lang.data) + ' ' +
											('password' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm input-password"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.password_current"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="20"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Password -->
					<div class="row input-row mb-0"
							 ng-switch-when="login|register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="userEvent !== 'profile' || helper.profileType === 'change-password'">
						<label for="password" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-key"></i>
							<span class="ms-1 text-capitalize"
										ng-if="helper.profileType === 'change-password'">
								{{'new' | translate:lang.data}}
							</span>
							<span ng-class="{'ms-1 text-capitalize': userEvent !== 'profile'}">
								{{'password' | translate:lang.data}}
							</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="password" 
										 type="password"
										 ng-attr-placeholder="{{helper.isEdit ? 
											(helper.profileType === 'change-password' ?
											(('new' | translate:lang.data) + ' ') : '') +
											('password' | translate:lang.data) : ''}}"
										 class="form-control form-control-sm input-password"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.password"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="20"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Password rule -->
					<div class="row mb-2"
							 ng-switch-when="login|register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="helper.isEdit">
						<div class="col-0 col-sm-4"></div>
						<div class="col-11 col-sm-7">
							<span class="fs-sm text-muted">
								{{'password_rule' | translate:lang.data}}.
							</span>
						</div>
					</div>

					<!-- Password confirm -->
					<div class="row input-row mb-2"
							 ng-switch-when="register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="userEvent !== 'profile' || helper.profileType === 'change-password'">
						<label for="password_confirm" 
									class="col-form-label col-form-label-sm col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-solid fa-unlock-keyhole"></i>
							<span class="ms-1 text-capitalize"
										ng-if="helper.profileType === 'change-password'">
								{{'new' | translate:lang.data}}
							</span>
							<span ng-class="{'ms-1 text-capitalize': userEvent !== 'profile'}">
								{{'password' | translate:lang.data}}
							</span>
							<span>{{'confirmation' | translate:lang.data}}:</span>
						</label>
						<div class="col-11 col-sm-7 position-relative">
							<input id="password_confirm" 
										 type="password"
										 class="form-control form-control-sm input-password"
										 ng-attr-placeholder="{{helper.isEdit ? 
											(helper.profileType === 'change-password' ?
											(('new' | translate:lang.data) + ' ') : '') +
											('password' | translate:lang.data) + ' ' +
											('confirmation' | translate:lang.data) : ''}}"
										 spellcheck="false" 
										 autocomplete="off"
										 ng-model="model.password_confirm"
										 ng-focus="methods.setFocusedElement($event)" 
										 ng-change="methods.changed()"
										 ng-disabled="!helper.isEdit"
										 required
										 maxlength="20"
										 ng-clear-icon>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Show/Hide password -->
					<div class="row mb-2"
							 ng-switch-when="login|register|profile" 
							 ng-switch-when-separator="|"
							 ng-if="helper.isEdit">
						<div class="col-0 col-sm-4"></div>
						<div class="col-11 col-sm-7">
							<div class="form-check form-check-inline small">
								<input class="form-check-input" 
											 type="checkbox"
											 id="show-password"
											 autocomplete="off"
											 ng-disabled="!helper.isEdit"
											 ng-display-password>
								<label class="form-check-label" for="show-password">
									<i class="fa-solid fa-eye mx-1"></i>
									<span>{{'display_password' | translate:lang.data}}</span>
								</label>
							</div>
						</div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted">

					<!-- Test code content -->
					<div class="row mb-2"
							 ng-if="helper.isEdit">
						<div class="col-form-label col-sm-4 text-sm-end fw-semibold">
							<span class="fw-bold text-danger">*</span>
							<i class="fa-regular fa-hand-point-right fa-xl"></i>
							<span class="ms-1 text-capitalize">
								{{'code' | translate:lang.data}}:
							</span>
						</div>
						<div class="col-11 col-sm-7 position-relative">
							<span class="text-start letter-spacing-2 fw-semibold fs-4">
								{{helper.code}}
						</span>
						</div>
						<div class="col-1"></div>
					</div>

					<!-- Test code input -->
					<div class="row input-row mb-4"
							 ng-if="helper.isEdit">
						<div class="col-form-label d-none d-sm-block col-sm-4"></div>
						<div class="col-11 col-sm-7 position-relative">
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
              		<span class="input-group-text rounded-0 h-100">
              			<i class="fas fa-robot"></i>
              		</span>
              	</div>
              	<input id="testcode"
              	       type="text" 
              				 class="form-control form-control-sm"
              				 spellcheck="false" 
              				 autocomplete="off"
											 ng-attr-placeholder="{{helper.isEdit ? ('code' | translate:lang.data) : ''}}"
              				 required
              				 maxlength="5"
											 ng-model="model.testcode"
											 ng-focus="methods.setFocusedElement($event)" 
											 ng-change="methods.changed()"
											 ng-disabled="!helper.isEdit"
											 ng-keyup="methods.testcodeInit($event)"
              				 style="min-width:120px!important;max-width:120px!important;"
              				 ng-clear-icon='{"left":"150px"}'>
              	<div class="input-group-append">
									<button class="btn btn-sm btn-light text-capitalize text-small-caps btnClickEffect"
													ng-click="methods.testcodeRefresh($event)"
													ng-disabled="!helper.isEdit">
              			<i class="fas fa-sync-alt"></i>
										<span class="ms-1">
											{{'refresh' | translate:lang.data}}
										</span>
              		</button>
              	</div>
							</div>
						</div>
						<div class="col-1 pt-1">
							<span class="check-mark ms-1 fw-bold text-success d-hidden">
								&check;
							</span>
						</div>
					</div>

					<!-- Dividing line -->
					<hr class="text-muted" 
							ng-if="helper.isEdit">

					<!-- Buttons -->
					<div class="row mb-2">

						<!-- Accept -->
						<div class="col-6 px-1 text-end mb-2" 
								 ng-show="helper.isEdit">
							<button id="accept"
											type="button" 
											class="btn btn-primary text-capitalize text-small-caps btnClickEffect"
											style="min-width:160px"
											ng-click="methods.accept()"
											disabled>
								<span ng-if="userEvent==='login'">
									<i class="fa-solid fa-right-to-bracket"></i>
									<span class="ms-1">
										{{'login' | translate:lang.data}}
									</span>
								</span>
								<span ng-if="userEvent==='register'">
									<i class="fa-solid fa-address-card"></i>
									<span class="ms-1">
										{{'register' | translate:lang.data}}
									</span>
								</span>
								<span ng-if="userEvent==='profile'">
									<i class="fa-solid fa-floppy-disk"></i>
									<span class="ms-1">
										{{'save' | translate:lang.data}}
									</span>
								</span>
							</button>
						</div>

						<!-- Cancel -->
						<div class="col-6 px-1 text-start  mb-2" 
								 ng-show="helper.isEdit">
							<button id="cancel"
											type="button" 
											class="btn btn-secondary text-capitalize text-small-caps btnClickEffect"
											style="min-width:160px"
											ng-click="methods.cancel()">
								<i class="fa-solid fa-circle-xmark"></i>
								<span class="ms-1">
									{{'cancel' | translate:lang.data}}
								</span>
							</button>
						</div>

						<!-- Forgot password -->
						<div class="col-6 px-1 mt-3 text-end" 
								 ng-if="userEvent === 'login'">
								 <a id="forgot_password"
								 		href="" 
								 		class="nav-link text-capitalize text-small-caps btnClickEffect"
										ng-class="{'disabled link-secondary opacity-50': !helper.isForgotPasswordEnabled,
															 'link-primary text-decoration-underline': helper.isForgotPasswordEnabled}"
										ng-attr-aria-disabled="{{!helper.isForgotPasswordEnabled}}"
										ng-click="methods.forgotPassword()">
										{{'forgot_password' | translate:lang.data}}!
								 </a>
						</div>

						<!-- Edit -->
						<div class="col-12 px-1 text-center mb-2" 
								 ng-show="!helper.isEdit && !helper.profileType">
							<button id="edit"
											type="button" 
											class="btn btn-primary text-capitalize text-small-caps btnClickEffect"
											style="min-width:160px"
											ng-click="methods.edit()">
								<i class="fa-solid fa-pen-to-square"></i>
								<span class="ms-1">
									{{'edit' | translate:lang.data}}
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<!-- Footer -->
	<footer ng-include src="'./html/footer.html'"></footer>
</div>